$bg: #222629;
$bg-second: #2E2E2EFF;

$white: #ffffff;
$black: #000000;

$gray-10: #dddddd;
$gray-400: #323232;
$gray-500: #202020;
$gray-850: #1a1a1a;
$gray-950: #151515FF;

$violet-250: #7a7ffb;
$violet-350: #535bf2;
$violet-450: #4e22c9;

$pink-200: #b76dc0;