@use "/src/app/styles/colors" as colors;
@use "/src/app/styles/variables" as variables;

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Logo {
  height: 6em;
  width: auto;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  &.React:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  &.Redux:hover {
    filter: drop-shadow(0 0 2em rgba(39, 0, 255, 0.67));
  }
}
@keyframes LogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .Logo {
    animation: LogoSpin infinite 20s linear;
  }
}

.Copyright {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}