.Input {
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: 0.3s ease all;
  background-color: var(--gray-dark);
  padding: 10px 5px 10px 5px;
}

.Input::placeholder {
  color: var(--gray-light);
}

.Input:focus::placeholder {
  color: transparent;
}
