@use "/src/app/styles/variables" as variables;

.wrapper {
    height: variables.$navbar-height;
    display: flex;
    align-items: center;
    margin-left: 10px;

        .logoAndTitle {
            display: flex;
            height: 100%;
            align-items: center;
            font-weight: bold;
            font-size: 25px;
            cursor: pointer;
            color: white;
            transition: color 0.4s ease;

            &:hover {
                background: linear-gradient(90deg, #b76dc0, #4e22c9, #b76dc0);
                background-size: 200% auto; /* градиент шире текста */
                animation: gradient-move 2s linear infinite; /* бесконечный перелив */
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }

            .logo {
                height: 100%;
                width: auto;
                padding: 5px;
                box-sizing: border-box;
                margin-right: 15px;
            }
        }

        @keyframes gradient-move {
            0% {
                background-position: 0% center;
            }
            100% {
                background-position: 200% center;
            }
        }

}