@use "/src/app/styles/color" as color;

.wrapper {
    display: inline-block;
    position: relative;
}

.datePicker {}

:where(.datePicker) {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: black;

    &:focus {
        border-color: #007bff;
    }

    &:disabled {
        background: transparent;
        color: black;
        border: none;
    }
}

.todayButton {
    color: color.$blue-600;
    cursor: pointer;
    font-size: 14px;
}

.datePickerPopper {
    z-index: 999;
}
.datePickerPopper.react-datepicker__triangle {
    display: none;
}